/* play like the goat */
.nav-con{
    display: flex;
    margin-left: 240px;
    margin-top: 54px;
    margin-bottom: 39px;
    gap: 10px;
}
.jr-nav{
    width: 40.041px;
    height: 30px;  
    margin-top: 60px;
}

.fast-con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.sec-nav{
    display: flex;
    margin-right: 240px;
    margin-top: 54px;
    margin-bottom: 39px;
    gap: 20px;
    
}
.uy{
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500; 
}
.ui-nav{
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700; 
    text-align: center;
}
.ul-col{
 color: #FF42A5;
}
.last-con{
    display: flex;
    justify-content: space-between;

}
.st-img{
    width: 500px;
}

.fast-nav li{
    list-style: none;
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 500; 
    margin-bottom: 10px;
}
.btn-primary{
    border-radius: 48px; 
    padding: 14px;
}
.asif{
   background-color: #FF42A5;
   padding-top: 5px;
   margin-top: 10px;
   
}
.rasel{
   background-color: #4EC5F7;
   padding-top: 5px;
   margin-top: 10px;
}
.fast-nav{
    fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
    margin-left: 240px;
    width: 901px;
    height: 600px
}
.vast-nav{
    padding-right: 200px;
}
.h-nav{
    margin-top: 70px;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 40px;
}
.i-nav{
    font-family: Work Sans;
    font-size: 60px; 
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%); 
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
/* finished play like the goat */

/* start Online Games Funny Videos */
.s-online{
    text-align: center;
}
.i-online{
    color: #0B0223;

font-family: Work Sans;
font-size: 48px;

margin-top: 100px;


}
.j-online{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: Work Sans; 
}
.k-online{
    color: #534C64;
text-align: center;
font-family: Work Sans;
font-size: 18px;
font-style: normal;

line-height: 30px;
}
.l-online{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 28px;
    
}
.m-img{
    width: 342px;
height: 400px; 
}
.o-online{
    color: #534C64;  
}
/* finished Online Games Funny Videos */
/* start Play Instantly,No Downloads No Installs. */
.st-play{
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.su-play{
    text-align: center;
}
.sv-img{
    margin-left: 10px;
    margin-top: 80px;
    width: 434.833px;
    height: 450px; 
}
.sv-play{
    text-align: right;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
}
.sw-play{
    color: #534C64;
text-align: right;
font-family: Work Sans;
font-size: 18px; 
}
.sx-play{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; 
}
.sy-play{
    position: relative;
}
.sz-img{
    height: 150px;
    width: 150px;
  position: absolute;
  top: 430px;
  right: 360px;
}
/*Finished Play Instantly,No Downloads No Installs. */


/* responsive media */
/* mobile */
/*  start play like the goat */
@media screen and (max-width: 576px) {
    .fast-con, 
    .nav-con,
    .sec-nav,
    .fast-nav,
    .last-con{
flex-direction: column;
    }
    .nav-con{
        margin-left: 0px;
    }

    .sec-nav{
        margin-right: 0px;
        margin-top: 0px;
            }
     .ui-nav{
        font-size: 100%;
     }
     .st-img {
        width: 300px;
    }
    .h-nav{
        
    }
    .fast-nav{
        margin-left: 100px;
        margin-top: 250px;  

    }
    /* start finished play like the goat */
}

/* Online Games Funny Videos */
@media screen and (max-width: 576px) {
 .l-online{
    grid-template-columns: repeat(1,1fr);
    gap: 60px;
}
}
/* finished Online Games Funny Videos */

/* start Play Instantly,No Downloads No Installs. */
@media screen and (max-width: 576px) {
    .st-play{
    flex-direction: column;
   }
   .sv-play{
    margin-right: 100px;
   }
   .sw-play{
    margin-right: 100px;
   }
   .st-play{
    gap: 0px;
   }
   }


/* Desktop Device */
@media screen (min-width: 576px) and (max-width: 960px) {
    .fast-con, 
    .nav-con,
    .sec-nav,
    .fast-nav,
    .last-con{
flex-direction: column;
    }
    .nav-con{
        margin-left: 0px;
    }

    .sec-nav{
        margin-right: 0px;
        margin-top: 0px;
            }
     .ui-nav{
        font-size: 100%;
     }
     .st-img {
        width: 350px;
    }
    .fast-nav{
        display: 5%;
        

    }
    .fast-nav{
        margin-left: 200px;
        margin-top: 270px;
    }
     /* finished play like the goat */
}

@media screen (min-width: 576px) and (max-width: 960px){
    .l-online{
        grid-template-columns: repeat(2,1fr);
        
    }
  .m-img{
    display: 100%;
  }
}
/* finished Online Games Funny Videos */


@media screen (min-width: 576px) and (max-width: 960px){
    .st-play{
        flex-direction: column;
       }
}

